<%= render "shared/header" %>

<%#= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%#= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%#= form.submit "検索", class: "search-btn" %>
<%# end %>

<div class="item-contents-row">
  <ul class="item-contents">
  <% @items.each do |item| %>
    <li class='list'>
    <div class='item-title'>
      <%= item.title %>
    </div>
    <%= link_to item_path(item.id) do %>
    <div class='item-img-content'>
      <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" %>
    </div>
    <ul class='contents-list'>
      <li class='user-name'><a href="/users/<%= item.user.id %>">
          <%= item.user.name %>
        </a>
      </li>
      <span>
      <li class="category-name"><%= item.category.name %></li>
      <li class="status-name"><%= item.status.name %></li>
      </span>
    </ul>
    </div>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>

<%= render "shared/footer" %>