<%= render "shared/header" %>

<div class="contents-row">
  <div class="items-main">
    <h2 class="item-itle">新規投稿</h2>
    <%= form_with model: @item, url:items_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"（必須 30文字まで)", maxlength:"30" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          テキスト
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :content, class:"items-text", id:"item-info", placeholder:"（必須 500文字まで）" ,rows:"7" ,maxlength:"500" %>
      </div>
    </div>
  
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          お悩み
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          肌質
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
        <div class="weight-bold-text">
          年代
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"item-age"}) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Submit" ,class:"register-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>